In [4]:
import numpy as np
import pandas as pd
import random

In [16]:
seller_ids = ['CBAYSELLER' + str(i+1) for i in range(10)]
print(seller_ids)
seller_names = ['Wendy Barajas', 'Kason Webber', 'Siobhan Brooks', 'Griff Noble', 'Hania Dillard', 'Rares Gordon', 'Maryam Aguirre', 'Riley Dodson', 'Myra Mcgill', 'Skyla Kennedy']
print(seller_names)
emails = []
for i in range(10):
    email = '.'.join(seller_names[i].split()).lower()+ '@' + random.choice(["yahoo.com", 'gmail.com', 'outlook.com'])
    emails.append(email)                                              
print(emails)
addresses = ['738 East Country Dr. Traverse City, MI 49684', '42 North Pineknoll Ave. Mchenry, IL 60050',
'4 Johnson Ave. Saint Albans, NY 11412', '526 East Greenview Rd. Kenosha, WI 53140', 
'985 Old 2nd Drive Gibsonia, PA 15044', '513 Birchwood Drive Mount Airy, MD 21771', '974 Devon Rd. Waltham, MA 02453', 
'851 Harvey Street Tuckerton, NJ 08087','8760 Saxton Street Maplewood, NJ 07040', '8935 Sage Avenue Covington, GA 30014']
print(addresses)
phone_numbers = ['(606) 277-3789', '(753) 202-3905', '(444) 793-9896', '(967) 383-1737', '(391) 627-0383',
                 '(444) 883-8518', '(689) 752-2005', '(911) 896-3287', '(835) 554-4090', '(918) 820-1393']
print(phone_numbers)
sellers_dict = {
    'seller_id':seller_ids,
    'name': seller_names,
    'email': emails,
    'address': addresses,
    'phone_num': phone_numbers
}
sellers_df = pd.DataFrame(sellers_dict)
sellers_df.to_csv("sellers.csv", index=False)
sellers_df

['CBAYSELLER1', 'CBAYSELLER2', 'CBAYSELLER3', 'CBAYSELLER4', 'CBAYSELLER5', 'CBAYSELLER6', 'CBAYSELLER7', 'CBAYSELLER8', 'CBAYSELLER9', 'CBAYSELLER10']
['Wendy Barajas', 'Kason Webber', 'Siobhan Brooks', 'Griff Noble', 'Hania Dillard', 'Rares Gordon', 'Maryam Aguirre', 'Riley Dodson', 'Myra Mcgill', 'Skyla Kennedy']
['wendy.barajas@outlook.com', 'kason.webber@yahoo.com', 'siobhan.brooks@outlook.com', 'griff.noble@outlook.com', 'hania.dillard@gmail.com', 'rares.gordon@gmail.com', 'maryam.aguirre@outlook.com', 'riley.dodson@gmail.com', 'myra.mcgill@gmail.com', 'skyla.kennedy@yahoo.com']
['738 East Country Dr. Traverse City, MI 49684', '42 North Pineknoll Ave. Mchenry, IL 60050', '4 Johnson Ave. Saint Albans, NY 11412', '526 East Greenview Rd. Kenosha, WI 53140', '985 Old 2nd Drive Gibsonia, PA 15044', '513 Birchwood Drive Mount Airy, MD 21771', '974 Devon Rd. Waltham, MA 02453', '851 Harvey Street Tuckerton, NJ 08087', '8760 Saxton Street Maplewood, NJ 07040', '8935 Sage Avenue Covington, GA 30014']
['(606) 277-3789', '(753) 202-3905', '(444) 793-9896', '(967) 383-1737', '(391) 627-0383', '(444) 883-8518', '(689) 752-2005', '(911) 896-3287', '(835) 554-4090', '(918) 820-1393']

,seller_id,name,email,address,phone_num
0,CBAYSELLER1,Wendy Barajas,wendy.barajas@outlook.com,"738 East Country Dr. Traverse City, MI 49684",(606) 277-3789
1,CBAYSELLER2,Kason Webber,kason.webber@yahoo.com,"42 North Pineknoll Ave. Mchenry, IL 60050",(753) 202-3905
2,CBAYSELLER3,Siobhan Brooks,siobhan.brooks@outlook.com,"4 Johnson Ave. Saint Albans, NY 11412",(444) 793-9896
3,CBAYSELLER4,Griff Noble,griff.noble@outlook.com,"526 East Greenview Rd. Kenosha, WI 53140",(967) 383-1737
4,CBAYSELLER5,Hania Dillard,hania.dillard@gmail.com,"985 Old 2nd Drive Gibsonia, PA 15044",(391) 627-0383
5,CBAYSELLER6,Rares Gordon,rares.gordon@gmail.com,"513 Birchwood Drive Mount Airy, MD 21771",(444) 883-8518
6,CBAYSELLER7,Maryam Aguirre,maryam.aguirre@outlook.com,"974 Devon Rd. Waltham, MA 02453",(689) 752-2005
7,CBAYSELLER8,Riley Dodson,riley.dodson@gmail.com,"851 Harvey Street Tuckerton, NJ 08087",(911) 896-3287
8,CBAYSELLER9,Myra Mcgill,myra.mcgill@gmail.com,"8760 Saxton Street Maplewood, NJ 07040",(835) 554-4090
9,CBAYSELLER10,Skyla Kennedy,skyla.kennedy@yahoo.com,"8935 Sage Avenue Covington, GA 30014",(918) 820-1393

In [17]:
designations = []
departments = []
department_types = ['receiving', 'putaway', 'storage', 'picking', 'packing', 'shipping']
for i in range(24):
    designations.append("Worker")
for i in range(6):
    for j in range(4):
        departments.append(department_types[i])
for i in range(4):
    designations.append("SuperVisor")
    departments.append('Supervision')
for i in range(2):
    designations.append("Manager")
    departments.append("Management")



employees_dict = {
    'employee_id' :  ['CBAYEMP0000'+ str(i+1) for i in range(30)],
    'employee_name' : ['Nicola Oliver', 'Jason Rees', 'Natalie Jones', 'Harry Avery', 'Adrian Paige',\
                        'Cameron King', 'Joe Forsyth', 'Penelope Ellison', 'Sarah Edmunds', 'Jane Jackson',\
                        'Mary Mitchell', 'Alexandra Langdon', 'Diane Edmunds', 'Peter Welch', 'Jake Roberts',\
                        'Brian Hughes', 'Katherine Sanderson', 'Ryan Peake', 'Frank Parsons', 'Stephen Powell',\
                        'Rose Sanderson', 'Luke Bower', 'Jack Henderson', 'Chloe Lyman', 'Abigail Lee',\
                        'Zoe Howard', 'Virginia Reid', 'Nathan King', 'David Henderson', 'Blake Metcalfe'],
    'designation' : designations,
    'department' : departments
}

employees_df = pd.DataFrame(employees_dict)
employees_df.to_csv("employees.csv", index=False)
employees_df

      employee_id        employee_name designation   department
0    CBAYEMP00001        Nicola Oliver      Worker    receiving
1    CBAYEMP00002           Jason Rees      Worker    receiving
2    CBAYEMP00003        Natalie Jones      Worker    receiving
3    CBAYEMP00004          Harry Avery      Worker    receiving
4    CBAYEMP00005         Adrian Paige      Worker      putaway
5    CBAYEMP00006         Cameron King      Worker      putaway
6    CBAYEMP00007          Joe Forsyth      Worker      putaway
7    CBAYEMP00008     Penelope Ellison      Worker      putaway
8    CBAYEMP00009        Sarah Edmunds      Worker      storage
9   CBAYEMP000010         Jane Jackson      Worker      storage
10  CBAYEMP000011        Mary Mitchell      Worker      storage
11  CBAYEMP000012    Alexandra Langdon      Worker      storage
12  CBAYEMP000013        Diane Edmunds      Worker      picking
13  CBAYEMP000014          Peter Welch      Worker      picking
14  CBAYEMP000015         Jake Roberts      Worker      picking
15  CBAYEMP000016         Brian Hughes      Worker      picking
16  CBAYEMP000017  Katherine Sanderson      Worker      packing
17  CBAYEMP000018           Ryan Peake      Worker      packing
18  CBAYEMP000019        Frank Parsons      Worker      packing
19  CBAYEMP000020       Stephen Powell      Worker      packing
20  CBAYEMP000021       Rose Sanderson      Worker     shipping
21  CBAYEMP000022           Luke Bower      Worker     shipping
22  CBAYEMP000023       Jack Henderson      Worker     shipping
23  CBAYEMP000024          Chloe Lyman      Worker     shipping
24  CBAYEMP000025          Abigail Lee  SuperVisor  Supervision
25  CBAYEMP000026           Zoe Howard  SuperVisor  Supervision
26  CBAYEMP000027        Virginia Reid  SuperVisor  Supervision
27  CBAYEMP000028          Nathan King  SuperVisor  Supervision
28  CBAYEMP000029      David Henderson     Manager   Management
29  CBAYEMP000030       Blake Metcalfe     Manager   Management

In [26]:
product_names = ['C-bay Mattress', 'C-bay Pillows', 'C-bay Cloth Hangars', 
                 'C-bay Bed Frame', 'C-bay Bed Sheet', 'C-bay Comforter',
                 'C-bay Wine Glasses', 'C-bay Plate Set', 'C-bay Storage Container Set', 
                 'C-bay Knife Set', 'C-bay Spoon Set', 'C-bay Cast Iron Skillet',
                 'C-bay Heater', 'C-bay Air Conditioner', 'C-bay Fan', 
                 'C-bay Kitchen Cart', 'C-bay Coffee Table', 'C-bay Body Wash', 
                 'C-bay Shampoo and Conditioner', 'C-bay Dry Bath Towel', 'C-bay Curtain Rod', 
                 'C-bay Handwash', 'C-bay Toilet Roll Pack', 'C-bay Trash Bags 40 Count', 
                 'C-bay Laundry Detergent Pacs', 'C-bay Storage Bags 300 count', 'C-bay Razor', 
                 'C-bay Mop', 'C-bay Paper Towels', 'C-bay Handsoap Liquid']
prices = [149.99, 14.99, 5.99, 74.99, 13.99, 24.99,
    27.99, 34.99, 19.99, 16.99, 9.99, 13.99,
    29.99, 174.99, 14.99, 12.99, 134.99,
    5.23, 4.99, 14.99, 14.99, 2.99, 14.99,
    19.99, 16.99, 18.99, 14.99, 16.99, 
    20.99, 9.99]
print(len(product_names), len(prices))
for product, price in zip(product_names, prices):
    print(product," : ", price)
    
products_dict = {
    'product_id' : ["CBAYPDT000" + str(i+1) for i in range(30)],
    'name': product_names,
    'price': prices,
    'availability': [1000 for i in range(30)]
}
products_df = pd.DataFrame(products_dict)
products_df.to_csv("products.csv", index=False)
products_df

30 30
C-bay Mattress  :  149.99
C-bay Pillows  :  14.99
C-bay Cloth Hangars  :  5.99
C-bay Bed Frame  :  74.99
C-bay Bed Sheet  :  13.99
C-bay Comforter  :  24.99
C-bay Wine Glasses  :  27.99
C-bay Plate Set  :  34.99
C-bay Storage Container Set  :  19.99
C-bay Knife Set  :  16.99
C-bay Spoon Set  :  9.99
C-bay Cast Iron Skillet  :  13.99
C-bay Heater  :  29.99
C-bay Air Conditioner  :  174.99
C-bay Fan  :  14.99
C-bay Kitchen Cart  :  12.99
C-bay Coffee Table  :  134.99
C-bay Body Wash  :  5.23
C-bay Shampoo and Conditioner  :  4.99
C-bay Dry Bath Towel  :  14.99
C-bay Curtain Rod  :  14.99
C-bay Handwash  :  2.99
C-bay Toilet Roll Pack  :  14.99
C-bay Trash Bags 40 Count  :  19.99
C-bay Laundry Detergent Pacs  :  16.99
C-bay Storage Bags 300 count  :  18.99
C-bay Razor  :  14.99
C-bay Mop  :  16.99
C-bay Paper Towels  :  20.99
C-bay Handsoap Liquid  :  9.99

      product_id                           name   price  availability
0    CBAYPDT0001                 C-bay Mattress  149.99          1000
1    CBAYPDT0002                  C-bay Pillows   14.99          1000
2    CBAYPDT0003            C-bay Cloth Hangars    5.99          1000
3    CBAYPDT0004                C-bay Bed Frame   74.99          1000
4    CBAYPDT0005                C-bay Bed Sheet   13.99          1000
5    CBAYPDT0006                C-bay Comforter   24.99          1000
6    CBAYPDT0007             C-bay Wine Glasses   27.99          1000
7    CBAYPDT0008                C-bay Plate Set   34.99          1000
8    CBAYPDT0009    C-bay Storage Container Set   19.99          1000
9   CBAYPDT00010                C-bay Knife Set   16.99          1000
10  CBAYPDT00011                C-bay Spoon Set    9.99          1000
11  CBAYPDT00012        C-bay Cast Iron Skillet   13.99          1000
12  CBAYPDT00013                   C-bay Heater   29.99          1000
13  CBAYPDT00014          C-bay Air Conditioner  174.99          1000
14  CBAYPDT00015                      C-bay Fan   14.99          1000
15  CBAYPDT00016             C-bay Kitchen Cart   12.99          1000
16  CBAYPDT00017             C-bay Coffee Table  134.99          1000
17  CBAYPDT00018                C-bay Body Wash    5.23          1000
18  CBAYPDT00019  C-bay Shampoo and Conditioner    4.99          1000
19  CBAYPDT00020           C-bay Dry Bath Towel   14.99          1000
20  CBAYPDT00021              C-bay Curtain Rod   14.99          1000
21  CBAYPDT00022                 C-bay Handwash    2.99          1000
22  CBAYPDT00023         C-bay Toilet Roll Pack   14.99          1000
23  CBAYPDT00024      C-bay Trash Bags 40 Count   19.99          1000
24  CBAYPDT00025   C-bay Laundry Detergent Pacs   16.99          1000
25  CBAYPDT00026   C-bay Storage Bags 300 count   18.99          1000
26  CBAYPDT00027                    C-bay Razor   14.99          1000
27  CBAYPDT00028                      C-bay Mop   16.99          1000
28  CBAYPDT00029             C-bay Paper Towels   20.99          1000
29  CBAYPDT00030          C-bay Handsoap Liquid    9.99          1000

In [27]:
coupons_dict =  {'coupon_id': ['CBAYCOUPON1','CBAYCOUPON2','CBAYCOUPON3','CBAYCOUPON4','CBAYCOUPON5'],
                 'name': ['FLAT20', 'BLACKFRIDAY', 'FIRSTORDER', 'SUMMERSALE', 'WINTERSALE'],
                 'discount': [0.2, 0.5, 0.5, 0.3, 0.3],
                 'start_data': ['2020-01-01', '2021-11-26', '2020-01-01', '2021-05-01', '2021-09-01'],
                 'end_date' : ['2030-01-01', '2021-11-26', '2030-01-01', '2021-09-01', '2022-03-01']
}
coupons_df = pd.DataFrame(coupons_dict)
coupons_df.to_csv("coupons.csv", index=False)
coupons_df

     coupon_id         name  discount  start_data    end_date
0  CBAYCOUPON1       FLAT20       0.2  2020-01-01  2030-01-01
1  CBAYCOUPON2  BLACKFRIDAY       0.5  2021-11-26  2021-11-26
2  CBAYCOUPON3   FIRSTORDER       0.5  2020-01-01  2030-01-01
3  CBAYCOUPON4   SUMMERSALE       0.3  2021-05-01  2021-09-01
4  CBAYCOUPON5   WINTERSALE       0.3  2021-09-01  2022-03-01