In [2]:
import numpy as np
import pandas as pd
import random

In [7]:
seller_ids = ['CBAYSELLER' + str(i+1) for i in range(20)]
print(seller_ids)
seller_names = ['Cecily Wall',
                'Eden Coleman',
                'Zach Washington',
                'Kristina Holmes',
                'Wilson Hayden',
                'Shaun Frost',
                'Karim Matthams',
                'Jenna Mejia',
                'Jonty Conner',
                'Abdur Benton',
                'Carla Tucker',
                'Katrina Campos',
                'Hermione Mcclain',
                'Erin Mayer',
                'Asiya Wong',
                'Elise Velez',
                'Aine Cooke',
                'Melanie Saunders',
                'Shannon Branch', 
                'Joao Riggs']
print(seller_names)
emails = []
for i in range(20):
    email = '.'.join(seller_names[i].split()).lower()+ '@' + random.choice(["yahoo.com", 'gmail.com', 'outlook.com'])
    emails.append(email)                                              
print(emails)
addresses = ['611 Valley St. Massillon, OH 44646',
             '254 Lookout Street Bear, DE 19701',
             '8720 Newport Street Crystal Lake, IL 60014',
             '64 Van Dyke Circle Titusville, FL 32780',
             '54 N. Cottage St. Suite 630 Fayetteville, NC 28303',
             '8643 Shipley Street Cookeville, TN 38501',
             '875 Wakehurst Dr. Duarte, CA 91010', 
             '715 College Lane Glen Allen, VA 23059',
             '816 Glenridge St. Rolling Meadows, IL 60008',
             '9180 Griffin Road Homestead, FL 33030',
             '171 Newport Street Fuquay Varina, NC 27526',
             '909 Chestnut Rd. Whitehall, PA 18052',
             '9472 Military Lane Reston, VA 20191', 
             '438 Woodside Dr. Lakeland, FL 33801',
             '92 E. Aspen Street Dayton, OH 45420',
             '97 Lake Street East Hartford, CT 06118',
             '177 Pawnee Street Owings Mills, MD 21117',
             '8969 Vine Rd. Des Moines, IA 50310',
             '500 Hamilton Dr. Manchester, NH 03102', 
             '324 East Iroquois Drive Leland, NC 28451']
print(addresses)
phone_numbers = [2579628381, 6585341215, 7776347309, 2819497046, 7804286556, 7663732392, 2392275905,
                 2668181868, 4604675159, 8494975854, 6516926163, 9452886410, 8913373541, 9985722503,
                 9629854313, 3646011923, 3587172688, 5625068710, 8884707391, 9979105981]
print(phone_numbers)

print(len(seller_ids), len(seller_names), len(emails), len(addresses), len(phone_numbers))
sellers_dict = {
    'seller_id':seller_ids,
    'name': seller_names,
    'email': emails,
    'address': addresses,
    'phone_num': phone_numbers
}
sellers_df = pd.DataFrame(sellers_dict)
sellers_df.to_csv("sellers.csv", index=False)
sellers_df

['CBAYSELLER1', 'CBAYSELLER2', 'CBAYSELLER3', 'CBAYSELLER4', 'CBAYSELLER5', 'CBAYSELLER6', 'CBAYSELLER7', 'CBAYSELLER8', 'CBAYSELLER9', 'CBAYSELLER10', 'CBAYSELLER11', 'CBAYSELLER12', 'CBAYSELLER13', 'CBAYSELLER14', 'CBAYSELLER15', 'CBAYSELLER16', 'CBAYSELLER17', 'CBAYSELLER18', 'CBAYSELLER19', 'CBAYSELLER20']
['Cecily Wall', 'Eden Coleman', 'Zach Washington', 'Kristina Holmes', 'Wilson Hayden', 'Shaun Frost', 'Karim Matthams', 'Jenna Mejia', 'Jonty Conner', 'Abdur Benton', 'Carla Tucker', 'Katrina Campos', 'Hermione Mcclain', 'Erin Mayer', 'Asiya Wong', 'Elise Velez', 'Aine Cooke', 'Melanie Saunders', 'Shannon Branch', 'Joao Riggs']
['cecily.wall@outlook.com', 'eden.coleman@outlook.com', 'zach.washington@gmail.com', 'kristina.holmes@yahoo.com', 'wilson.hayden@yahoo.com', 'shaun.frost@gmail.com', 'karim.matthams@yahoo.com', 'jenna.mejia@yahoo.com', 'jonty.conner@outlook.com', 'abdur.benton@yahoo.com', 'carla.tucker@outlook.com', 'katrina.campos@gmail.com', 'hermione.mcclain@gmail.com', 'erin.mayer@outlook.com', 'asiya.wong@outlook.com', 'elise.velez@outlook.com', 'aine.cooke@outlook.com', 'melanie.saunders@outlook.com', 'shannon.branch@gmail.com', 'joao.riggs@outlook.com']
['611 Valley St. Massillon, OH 44646', '254 Lookout Street Bear, DE 19701', '8720 Newport Street Crystal Lake, IL 60014', '64 Van Dyke Circle Titusville, FL 32780', '54 N. Cottage St. Suite 630 Fayetteville, NC 28303', '8643 Shipley Street Cookeville, TN 38501', '875 Wakehurst Dr. Duarte, CA 91010', '715 College Lane Glen Allen, VA 23059', '816 Glenridge St. Rolling Meadows, IL 60008', '9180 Griffin Road Homestead, FL 33030', '171 Newport Street Fuquay Varina, NC 27526', '909 Chestnut Rd. Whitehall, PA 18052', '9472 Military Lane Reston, VA 20191', '438 Woodside Dr. Lakeland, FL 33801', '92 E. Aspen Street Dayton, OH 45420', '97 Lake Street East Hartford, CT 06118', '177 Pawnee Street Owings Mills, MD 21117', '8969 Vine Rd. Des Moines, IA 50310', '500 Hamilton Dr. Manchester, NH 03102', '324 East Iroquois Drive Leland, NC 28451']
[2579628381, 6585341215, 7776347309, 2819497046, 7804286556, 7663732392, 2392275905, 2668181868, 4604675159, 8494975854, 6516926163, 9452886410, 8913373541, 9985722503, 9629854313, 3646011923, 3587172688, 5625068710, 8884707391, 997910598]
20 20 20 20 20

,seller_id,name,email,address,phone_num
0,CBAYSELLER1,Cecily Wall,cecily.wall@outlook.com,"611 Valley St. Massillon, OH 44646",2579628381
1,CBAYSELLER2,Eden Coleman,eden.coleman@outlook.com,"254 Lookout Street Bear, DE 19701",6585341215
2,CBAYSELLER3,Zach Washington,zach.washington@gmail.com,"8720 Newport Street Crystal Lake, IL 60014",7776347309
3,CBAYSELLER4,Kristina Holmes,kristina.holmes@yahoo.com,"64 Van Dyke Circle Titusville, FL 32780",2819497046
4,CBAYSELLER5,Wilson Hayden,wilson.hayden@yahoo.com,"54 N. Cottage St. Suite 630 Fayetteville, NC 2...",7804286556
5,CBAYSELLER6,Shaun Frost,shaun.frost@gmail.com,"8643 Shipley Street Cookeville, TN 38501",7663732392
6,CBAYSELLER7,Karim Matthams,karim.matthams@yahoo.com,"875 Wakehurst Dr. Duarte, CA 91010",2392275905
7,CBAYSELLER8,Jenna Mejia,jenna.mejia@yahoo.com,"715 College Lane Glen Allen, VA 23059",2668181868
8,CBAYSELLER9,Jonty Conner,jonty.conner@outlook.com,"816 Glenridge St. Rolling Meadows, IL 60008",4604675159
9,CBAYSELLER10,Abdur Benton,abdur.benton@yahoo.com,"9180 Griffin Road Homestead, FL 33030",8494975854
10,CBAYSELLER11,Carla Tucker,carla.tucker@outlook.com,"171 Newport Street Fuquay Varina, NC 27526",6516926163
11,CBAYSELLER12,Katrina Campos,katrina.campos@gmail.com,"909 Chestnut Rd. Whitehall, PA 18052",9452886410
12,CBAYSELLER13,Hermione Mcclain,hermione.mcclain@gmail.com,"9472 Military Lane Reston, VA 20191",8913373541
13,CBAYSELLER14,Erin Mayer,erin.mayer@outlook.com,"438 Woodside Dr. Lakeland, FL 33801",9985722503
14,CBAYSELLER15,Asiya Wong,asiya.wong@outlook.com,"92 E. Aspen Street Dayton, OH 45420",9629854313
15,CBAYSELLER16,Elise Velez,elise.velez@outlook.com,"97 Lake Street East Hartford, CT 06118",3646011923
16,CBAYSELLER17,Aine Cooke,aine.cooke@outlook.com,"177 Pawnee Street Owings Mills, MD 21117",3587172688
17,CBAYSELLER18,Melanie Saunders,melanie.saunders@outlook.com,"8969 Vine Rd. Des Moines, IA 50310",5625068710
18,CBAYSELLER19,Shannon Branch,shannon.branch@gmail.com,"500 Hamilton Dr. Manchester, NH 03102",8884707391
19,CBAYSELLER20,Joao Riggs,joao.riggs@outlook.com,"324 East Iroquois Drive Leland, NC 28451",997910598

In [8]:
designations = []
departments = []
department_types = ['receiving', 'putaway', 'storage', 'picking', 'packing', 'shipping']
for i in range(24):
    designations.append("Worker")
for i in range(6):
    for j in range(4):
        departments.append(department_types[i])
for i in range(4):
    designations.append("SuperVisor")
    departments.append('Supervision')
for i in range(2):
    designations.append("Manager")
    departments.append("Management")



employees_dict = {
    'employee_id' :  ['CBAYEMP0000'+ str(i+1) for i in range(30)],
    'employee_name' : ['Nicola Oliver', 'Jason Rees', 'Natalie Jones', 'Harry Avery', 'Adrian Paige',\
                        'Cameron King', 'Joe Forsyth', 'Penelope Ellison', 'Sarah Edmunds', 'Jane Jackson',\
                        'Mary Mitchell', 'Alexandra Langdon', 'Diane Edmunds', 'Peter Welch', 'Jake Roberts',\
                        'Brian Hughes', 'Katherine Sanderson', 'Ryan Peake', 'Frank Parsons', 'Stephen Powell',\
                        'Rose Sanderson', 'Luke Bower', 'Jack Henderson', 'Chloe Lyman', 'Abigail Lee',\
                        'Zoe Howard', 'Virginia Reid', 'Nathan King', 'David Henderson', 'Blake Metcalfe'],
    'designation' : designations,
    'department' : departments
}

employees_df = pd.DataFrame(employees_dict)
employees_df.to_csv("employees.csv", index=False)
employees_df

      employee_id        employee_name designation   department
0    CBAYEMP00001        Nicola Oliver      Worker    receiving
1    CBAYEMP00002           Jason Rees      Worker    receiving
2    CBAYEMP00003        Natalie Jones      Worker    receiving
3    CBAYEMP00004          Harry Avery      Worker    receiving
4    CBAYEMP00005         Adrian Paige      Worker      putaway
5    CBAYEMP00006         Cameron King      Worker      putaway
6    CBAYEMP00007          Joe Forsyth      Worker      putaway
7    CBAYEMP00008     Penelope Ellison      Worker      putaway
8    CBAYEMP00009        Sarah Edmunds      Worker      storage
9   CBAYEMP000010         Jane Jackson      Worker      storage
10  CBAYEMP000011        Mary Mitchell      Worker      storage
11  CBAYEMP000012    Alexandra Langdon      Worker      storage
12  CBAYEMP000013        Diane Edmunds      Worker      picking
13  CBAYEMP000014          Peter Welch      Worker      picking
14  CBAYEMP000015         Jake Roberts      Worker      picking
15  CBAYEMP000016         Brian Hughes      Worker      picking
16  CBAYEMP000017  Katherine Sanderson      Worker      packing
17  CBAYEMP000018           Ryan Peake      Worker      packing
18  CBAYEMP000019        Frank Parsons      Worker      packing
19  CBAYEMP000020       Stephen Powell      Worker      packing
20  CBAYEMP000021       Rose Sanderson      Worker     shipping
21  CBAYEMP000022           Luke Bower      Worker     shipping
22  CBAYEMP000023       Jack Henderson      Worker     shipping
23  CBAYEMP000024          Chloe Lyman      Worker     shipping
24  CBAYEMP000025          Abigail Lee  SuperVisor  Supervision
25  CBAYEMP000026           Zoe Howard  SuperVisor  Supervision
26  CBAYEMP000027        Virginia Reid  SuperVisor  Supervision
27  CBAYEMP000028          Nathan King  SuperVisor  Supervision
28  CBAYEMP000029      David Henderson     Manager   Management
29  CBAYEMP000030       Blake Metcalfe     Manager   Management

In [9]:
product_names = ['C-bay Mattress', 'C-bay Pillows', 'C-bay Cloth Hangars', 
                 'C-bay Bed Frame', 'C-bay Bed Sheet', 'C-bay Comforter',
                 'C-bay Wine Glasses', 'C-bay Plate Set', 'C-bay Storage Container Set', 
                 'C-bay Knife Set', 'C-bay Spoon Set', 'C-bay Cast Iron Skillet',
                 'C-bay Heater', 'C-bay Air Conditioner', 'C-bay Fan', 
                 'C-bay Kitchen Cart', 'C-bay Coffee Table', 'C-bay Body Wash', 
                 'C-bay Shampoo and Conditioner', 'C-bay Dry Bath Towel', 'C-bay Curtain Rod', 
                 'C-bay Handwash', 'C-bay Toilet Roll Pack', 'C-bay Trash Bags 40 Count', 
                 'C-bay Laundry Detergent Pacs', 'C-bay Storage Bags 300 count', 'C-bay Razor', 
                 'C-bay Mop', 'C-bay Paper Towels', 'C-bay Handsoap Liquid']
prices = [149.99, 14.99, 5.99, 74.99, 13.99, 24.99,
    27.99, 34.99, 19.99, 16.99, 9.99, 13.99,
    29.99, 174.99, 14.99, 12.99, 134.99,
    5.23, 4.99, 14.99, 14.99, 2.99, 14.99,
    19.99, 16.99, 18.99, 14.99, 16.99, 
    20.99, 9.99]
print(len(product_names), len(prices))
for product, price in zip(product_names, prices):
    print(product," : ", price)
    
products_dict = {
    'product_id' : ["CBAYPDT000" + str(i+1) for i in range(30)],
    'name': product_names,
    'price': prices,
    'availability': [1000 for i in range(30)]
}
products_df = pd.DataFrame(products_dict)
products_df.to_csv("products.csv", index=False)
products_df

30 30
C-bay Mattress  :  149.99
C-bay Pillows  :  14.99
C-bay Cloth Hangars  :  5.99
C-bay Bed Frame  :  74.99
C-bay Bed Sheet  :  13.99
C-bay Comforter  :  24.99
C-bay Wine Glasses  :  27.99
C-bay Plate Set  :  34.99
C-bay Storage Container Set  :  19.99
C-bay Knife Set  :  16.99
C-bay Spoon Set  :  9.99
C-bay Cast Iron Skillet  :  13.99
C-bay Heater  :  29.99
C-bay Air Conditioner  :  174.99
C-bay Fan  :  14.99
C-bay Kitchen Cart  :  12.99
C-bay Coffee Table  :  134.99
C-bay Body Wash  :  5.23
C-bay Shampoo and Conditioner  :  4.99
C-bay Dry Bath Towel  :  14.99
C-bay Curtain Rod  :  14.99
C-bay Handwash  :  2.99
C-bay Toilet Roll Pack  :  14.99
C-bay Trash Bags 40 Count  :  19.99
C-bay Laundry Detergent Pacs  :  16.99
C-bay Storage Bags 300 count  :  18.99
C-bay Razor  :  14.99
C-bay Mop  :  16.99
C-bay Paper Towels  :  20.99
C-bay Handsoap Liquid  :  9.99

      product_id                           name   price  availability
0    CBAYPDT0001                 C-bay Mattress  149.99          1000
1    CBAYPDT0002                  C-bay Pillows   14.99          1000
2    CBAYPDT0003            C-bay Cloth Hangars    5.99          1000
3    CBAYPDT0004                C-bay Bed Frame   74.99          1000
4    CBAYPDT0005                C-bay Bed Sheet   13.99          1000
5    CBAYPDT0006                C-bay Comforter   24.99          1000
6    CBAYPDT0007             C-bay Wine Glasses   27.99          1000
7    CBAYPDT0008                C-bay Plate Set   34.99          1000
8    CBAYPDT0009    C-bay Storage Container Set   19.99          1000
9   CBAYPDT00010                C-bay Knife Set   16.99          1000
10  CBAYPDT00011                C-bay Spoon Set    9.99          1000
11  CBAYPDT00012        C-bay Cast Iron Skillet   13.99          1000
12  CBAYPDT00013                   C-bay Heater   29.99          1000
13  CBAYPDT00014          C-bay Air Conditioner  174.99          1000
14  CBAYPDT00015                      C-bay Fan   14.99          1000
15  CBAYPDT00016             C-bay Kitchen Cart   12.99          1000
16  CBAYPDT00017             C-bay Coffee Table  134.99          1000
17  CBAYPDT00018                C-bay Body Wash    5.23          1000
18  CBAYPDT00019  C-bay Shampoo and Conditioner    4.99          1000
19  CBAYPDT00020           C-bay Dry Bath Towel   14.99          1000
20  CBAYPDT00021              C-bay Curtain Rod   14.99          1000
21  CBAYPDT00022                 C-bay Handwash    2.99          1000
22  CBAYPDT00023         C-bay Toilet Roll Pack   14.99          1000
23  CBAYPDT00024      C-bay Trash Bags 40 Count   19.99          1000
24  CBAYPDT00025   C-bay Laundry Detergent Pacs   16.99          1000
25  CBAYPDT00026   C-bay Storage Bags 300 count   18.99          1000
26  CBAYPDT00027                    C-bay Razor   14.99          1000
27  CBAYPDT00028                      C-bay Mop   16.99          1000
28  CBAYPDT00029             C-bay Paper Towels   20.99          1000
29  CBAYPDT00030          C-bay Handsoap Liquid    9.99          1000

In [14]:
coupon_ids = ['MTUOGB','UAWYVQ','GHXANS','KPFVWY','YZKSWQ','KZFGFA','MAILAP','GTFWGT','KGSXXU','LITZMO',
             'NHTBVT','LMFWGF','WAFANK','NOAXDQ','WXKVAA','HWTIUT','EUGWZA','KLPBCG','JPVVOB','ZDLXRF',
             'JTZGMP','UGLFVP','YTOVZI','ZIHFVV','ALHIRB','LERDKB','CJUKCJ','QBBEYD','CBVPKD','XHQOGH']

coupon_names = ['FLAT20', 'BLACKFRIDAY', 'FIRSTORDER', 'SUMMERSALE', 'WINTERSALE', 
                'KZFGFA','MAILAP','GTFWGT','KGSXXU','LITZMO', 'NHTBVT','LMFWGF',
                'WAFANK','NOAXDQ','WXKVAA','HWTIUT','EUGWZA','KLPBCG','JPVVOB','ZDLXRF',
                'JTZGMP','UGLFVP','YTOVZI','ZIHFVV','ALHIRB','LERDKB','CJUKCJ','QBBEYD','CBVPKD','XHQOGH']
discounts = [0.2, 0.5, 0.5, 0.3, 0.3, 0.11, 0.20, 0.15,
             0.05,0.10,0.18,0.20,0.08,0.11,0.18,0.09,0.15,
             0.14,0.08,0.16,0.08,0.09,0.16,0.08,0.05,0.17,
             0.20,0.13,0.11,0.11]
start_dates = ['2020-01-01','2021-11-26','2020-01-01','2021-05-01','2021-09-01',
               '2022-05-19','2022-03-06','2022-06-29','2022-07-20','2022-03-24',
               '2022-07-16','2022-06-28','2022-06-13','2022-03-13','2022-03-25',
               '2022-08-29','2022-05-18','2022-09-22','2022-08-10','2022-10-21',
               '2022-04-22','2022-10-26','2022-01-03','2022-04-12','2022-01-24',
               '2022-06-23','2022-07-12','2022-06-02','2022-06-08','2022-06-04']
end_dates = ['2030-01-01','2021-11-26','2030-01-01','2021-09-01','2022-03-01',
             '2023-04-21','2023-08-05','2023-10-01','2023-06-14','2023-09-12',
             '2023-12-05','2023-11-16','2023-01-21','2023-09-22','2023-11-13',
             '2023-02-05','2023-11-19','2023-07-25','2023-12-30','2023-10-24',
             '2023-03-07','2023-07-21','2023-08-03','2023-04-25','2023-09-26',
             '2023-03-16','2023-01-25','2023-07-16','2023-09-14','2023-07-05']
coupons_dict =  {'coupon_id': coupon_ids,
                 'name': coupon_names,
                 'discount': discounts,
                 'start_date': start_dates,
                 'end_date' : end_dates
}

coupons_df = pd.DataFrame(coupons_dict)
coupons_df.to_csv("coupons.csv", index=False)
coupons_df

   coupon_id         name  discount  start_date    end_date
0     MTUOGB       FLAT20      0.20  2020-01-01  2030-01-01
1     UAWYVQ  BLACKFRIDAY      0.50  2021-11-26  2021-11-26
2     GHXANS   FIRSTORDER      0.50  2020-01-01  2030-01-01
3     KPFVWY   SUMMERSALE      0.30  2021-05-01  2021-09-01
4     YZKSWQ   WINTERSALE      0.30  2021-09-01  2022-03-01
5     KZFGFA       KZFGFA      0.11  2022-05-19  2023-04-21
6     MAILAP       MAILAP      0.20  2022-03-06  2023-08-05
7     GTFWGT       GTFWGT      0.15  2022-06-29  2023-10-01
8     KGSXXU       KGSXXU      0.05  2022-07-20  2023-06-14
9     LITZMO       LITZMO      0.10  2022-03-24  2023-09-12
10    NHTBVT       NHTBVT      0.18  2022-07-16  2023-12-05
11    LMFWGF       LMFWGF      0.20  2022-06-28  2023-11-16
12    WAFANK       WAFANK      0.08  2022-06-13  2023-01-21
13    NOAXDQ       NOAXDQ      0.11  2022-03-13  2023-09-22
14    WXKVAA       WXKVAA      0.18  2022-03-25  2023-11-13
15    HWTIUT       HWTIUT      0.09  2022-08-29  2023-02-05
16    EUGWZA       EUGWZA      0.15  2022-05-18  2023-11-19
17    KLPBCG       KLPBCG      0.14  2022-09-22  2023-07-25
18    JPVVOB       JPVVOB      0.08  2022-08-10  2023-12-30
19    ZDLXRF       ZDLXRF      0.16  2022-10-21  2023-10-24
20    JTZGMP       JTZGMP      0.08  2022-04-22  2023-03-07
21    UGLFVP       UGLFVP      0.09  2022-10-26  2023-07-21
22    YTOVZI       YTOVZI      0.16  2022-01-03  2023-08-03
23    ZIHFVV       ZIHFVV      0.08  2022-04-12  2023-04-25
24    ALHIRB       ALHIRB      0.05  2022-01-24  2023-09-26
25    LERDKB       LERDKB      0.17  2022-06-23  2023-03-16
26    CJUKCJ       CJUKCJ      0.20  2022-07-12  2023-01-25
27    QBBEYD       QBBEYD      0.13  2022-06-02  2023-07-16
28    CBVPKD       CBVPKD      0.11  2022-06-08  2023-09-14
29    XHQOGH       XHQOGH      0.11  2022-06-04  2023-07-05